* {margin: 0px; padding: 0px;}
.bg {background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;}
#input-div {background-color: white;
}
#title {text-align: center;
color: rgb(0, 140, 255);
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
margin-bottom: 10px;}
#num1 {height: 30px;
width: 200px;
padding-left: 10px;
margin-right: 10px;
color: rgb(0, 38, 255);
font-size: 15px;
font-weight: bold;
border: 2px solid rgb(137, 203, 233);
border-radius: 10px;
}
#num2 {height: 30px;
    width: 200px;
    padding-left: 10px;
    margin-left: 10px;
    color: rgb(0, 38, 255);
    font-size: 15px;
    font-weight: bold;
    border: 2px solid rgb(137, 203, 233);
    border-radius: 10px;
    }
.amount {
    color: rgb(0, 140, 254);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
margin-top: 20px;
margin-left: 10px;
}
#button-div {display: flex;
justify-content: center;
margin: 10px;}
#calculate-button {
color: rgb(0, 140, 255);
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
padding: 10px 20px;
background-color: rgb(179, 214, 243);
border: 1px solid rgb(0, 140, 255);
border-radius: 5px;
cursor: pointer;
}